<%- include ../partials/header.ejs %>

<section class="jumbotron">
    <div class="container">
    <h1>Welcome, <%= user.username %></h1>
        <a href="/menus" class="btn btn-default center-block">Add a Menu Item </a>  
    </div>
</section>

<%- include ../partials/footer.ejs %>