<!--footer.ejs by Michele Clarkson COMP2106 - Tesoro - This footer includes all links to js and jquery files as well as a common footer-->       
    <footer role="contentinfo">This is the footer</footer>    
    <!-- Latest   jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
    <!-- Latest compiled and minified   JavaScript -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
      
    <script src="/javascripts/scripts.js"></script>

</body>
</html>

