<%- include partials/header.ejs %>

<main class="container">
    
    <h1><%= title %></h1>
    <p class="jumbotron"><%= message %></p>


    <a href="/auth/login" title="Login">Login</a> or <a href="/auth/register" title="Register">Register</a>
    
</main>
  
<%- include ./partials/footer.ejs %>