<!--Michele Clarkson COMP2106 - Basilico-->

<%- include partials/header.ejs %>

    <section class="jumbotron">
        <div class="container">
              <a href="/basilicos" class="btn btn-default center-block"><img src="images/menu.png" /></a>  
        </div>
    </section>

  
<%- include ./partials/footer.ejs %>

