/* STYLES.CSS by Michele Clarkson COMP2106 - Basilico - CUSTOM CSS STYLES */

/*Global Styles*/
.container main {
    width: 100%;
}

body {
    font-size: 100%;
    line-height: 2em;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-image: url('../images/pasta.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
}

p {
    font-size: 1.3em;
    color: #333333;
}

li .item {
    color: red;
}
/*Header*/

nav {
   /* outline: 2px solid aqua;*/
    
}

/*centering the images*/
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/
footer {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
}

footer a {
    color: #a8a8a8;
}
