/* STYLES.CSS by Michele Clarkson COMP2106 - Basilico - CUSTOM CSS STYLES */

/*Global Styles*/
.container main {
    width: 100%;
}

body {
    font-size: 100%;
    line-height: 2em;
    padding: 3%;
    font-family: sans-serif;
   /* background-image: url('../images/pasta.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;*/
}

h1 {
}

p {
    font-size: 1.3em;
    color: #333333;
}

/*Header*/

<

/*Footer*/
.footer {
    outline: 2px solid aqua;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #333;
    text-align: center;
}
footer p {
    color: #fff;
}
